<ion-header>
  <ion-navbar color="purple-dark">
  <img src="./assets/icon/logo.png">
    <ion-title style="text-align: center;">
      Set Alarm
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #EEE0EF;">
	<ion-item style="background-color: #EEE0EF;padding-top: 5px;">
      <ion-label>Wakeup Time</ion-label>
      <ion-datetime [(ngModel)]="time" displayFormat="hh:mm A" pickerFormat="HH mm"></ion-datetime>
    </ion-item>
    <ion-grid style="background-color: #EEE0EF;">
 <ion-row style="background-color: #EEE0EF;">
  <ion-col style="background-color: #EEE0EF;" width-33.25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>Light</ion-label>
      <ion-checkbox [(ngModel)]="light" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
  <ion-col style="background-color: #EEE0EF;" width-33.25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>Wind</ion-label>
      <ion-checkbox [(ngModel)]="wind" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
  <ion-col style="background-color: #EEE0EF;" width-33.25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>Vibration</ion-label>
      <ion-checkbox [(ngModel)]="vibration" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
</ion-row>
</ion-grid>

<ion-item style="background-color: #EEE0EF;padding-top: 5px;">
      <ion-label>Alarm Tone</ion-label>
      <ion-select [(ngModel)]="tone" (ngModelChange)="onChange($event)">
        <ion-option value="tone1">Tone 1</ion-option>
        <ion-option value="tone2">Tone 2</ion-option>
        <ion-option value="tone3">Tone 3</ion-option>
        <ion-option value="tone4">Tone 4</ion-option>
        <ion-option value="tone5">Tone 5</ion-option>
        <ion-option value="tone6">Tone 6</ion-option>
        <ion-option value="tone7">Tone 7</ion-option>
        <ion-option value="tone8">Tone 8</ion-option>
        <ion-option value="tone9">Tone 9</ion-option>
        <ion-option value="tone10">Tone 10</ion-option>
        <ion-option value="tone11">Tone 11</ion-option>
        <ion-option value="tone12">Tone 12</ion-option>
        <ion-option value="tone13">Tone 13</ion-option>
        <ion-option value="tone14">Tone 14</ion-option>
        <ion-option value="tone15">Tone 15</ion-option>
        <ion-option value="tone16">Tone 16</ion-option>
        <ion-option value="tone17">Tone 17</ion-option>
        <ion-option value="tone18">Tone 18</ion-option>
        <ion-option value="tone19">Tone 19</ion-option>
        <ion-option value="tone20">Tone 20</ion-option>
        <ion-option value="tone21">Tone 21</ion-option>
        <ion-option value="tone22">Tone 22</ion-option>
        <ion-option value="tone23">Tone 23</ion-option>
        <ion-option value="tone24">Tone 24</ion-option>
        <ion-option value="tone25">Tone 25</ion-option>
        <ion-option value="tone26">Tone 26</ion-option>
        <ion-option value="tone27">Tone 27</ion-option>
        <ion-option value="tone28">Tone 28</ion-option>
      </ion-select>
    </ion-item>
      <button (click)="stop()" style="width:100%;" ion-button icon-right color="purple-dark" round>stop</button>

    <ion-item [hidden]="!vibration" style="background-color: #EEE0EF;padding-top: 5px;">
      <ion-label>Vibration Level</ion-label>
      <ion-select [(ngModel)]="vibrationlevel">
        <ion-option value="level1">Level 1</ion-option>
        <ion-option value="level2">Level 2</ion-option>
        <ion-option value="level3">Level 3</ion-option>
      </ion-select>
    </ion-item>

    <ion-item [hidden]="!light && !wind && !vibration" style="background-color: #EEE0EF;padding-top: 5px;">
      <ion-label>Execution Pattern</ion-label>
      <ion-select [(ngModel)]="pattern">
        <ion-option value="sequential">Sequential</ion-option>
        <ion-option value="multiple">Multiple</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="pattern=='sequential'" style="background-color: #EEE0EF;">
      <ion-range [(ngModel)]="durationseq" min="5" max="10" pin="true" color="hot-pink">
        <ion-icon range-left small name="ios-clock-outline"></ion-icon>
        <ion-icon range-right name="ios-clock-outline"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item *ngIf="pattern=='multiple'" style="background-color: #EEE0EF;">
      <ion-range [(ngModel)]="durationmul" min="1" max="3" pin="true" color="hot-pink">
        <ion-icon range-left small name="ios-clock-outline"></ion-icon>
        <ion-icon range-right name="ios-clock-outline"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-grid style="background-color: #EEE0EF;padding-top: 5px;">
 <ion-row>
  <ion-col style="background-color: #EEE0EF;" width-25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>S</ion-label>
      <ion-checkbox [(ngModel)]="sat" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
  <ion-col style="background-color: #EEE0EF;" width-25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>S</ion-label>
      <ion-checkbox [(ngModel)]="sun" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
  <ion-col style="background-color: #EEE0EF;" width-25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>M</ion-label>
      <ion-checkbox [(ngModel)]="mon" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
    <ion-col style="background-color: #EEE0EF;" width-25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>T</ion-label>
      <ion-checkbox [(ngModel)]="tue" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
    </ion-row>
    <ion-row padding-left="7px">
  <ion-col style="background-color: #EEE0EF;" width-33.25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>W</ion-label>
      <ion-checkbox [(ngModel)]="wed" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
  <ion-col style="background-color: #EEE0EF;" width-33.25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>T</ion-label>
      <ion-checkbox [(ngModel)]="thu" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
   <ion-col style="background-color: #EEE0EF;" width-33.25><ion-item style="background-color: #EEE0EF;width:100%">
      <ion-label>F</ion-label>
      <ion-checkbox [(ngModel)]="fri" color="hot-pink" checked="false"></ion-checkbox>
    </ion-item></ion-col>
</ion-row>
</ion-grid>
<ion-grid style="padding-top: 55px;">
 <ion-row>
  <ion-col width-50><button style="width:100%;" ion-button icon-right color="purple-light" round>Quick Setting<ion-icon name='ios-mic-outline'></ion-icon></button></ion-col>
  <ion-col width-50><button style="width:100%;" ion-button icon-right color="purple-dark" round (click)="set()">Set Alarm<ion-icon name='md-checkmark-circle-outline'></ion-icon></button></ion-col>
</ion-row>
</ion-grid>
</ion-content>
